<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <title>404</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/404.css">
    </head>

    <body>
        <div class="container-14">
            <div class="copy-container-14 center-xy">
                <p>
                    404, page not found.
                </p>
                <a href="/"><p class="sub">Retornar à home</p></a>
            </div>

        </div>

    </body>

</html>