 <nav class="navbar bg-white">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <object
        class="svg-logo"
        data="./img/8936250041_060a77fb-af69-4311-a934-338752c0a09c.svg"
        type
        width="262px"
        height="64px"></object>
      <form class="d-flex" role="search">
        <input
          class="form-control me-3"
          type="search"
          placeholder="O que você procura hoje?"
          aria-label="Search"/>
        <button class="btn btn-outline-success" type="submit">
          Search
        </button>

      </form>
    </a>

    <div class="header-account">
      <a class="account-link" href="#" title="Entrar"><svg
          width="20"
          height="18"
          viewBox="0 20 588 512"
          xmlns="http://www.w3.org/2000/svg"
          class="svg-login">
          <path
            d="M313.6 304c-28.7 0-42.5 16-89.6 16-47.1 0-60.8-16-89.6-16C60.2 304 0 364.2 0 438.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-25.6c0-74.2-60.2-134.4-134.4-134.4zM400 464H48v-25.6c0-47.6 38.8-86.4 86.4-86.4 14.6 0 38.3 16 89.6 16 51.7 0 74.9-16 89.6-16 47.6 0 86.4 38.8 86.4 86.4V464zM224 288c79.5 0 144-64.5 144-144S303.5 0 224 0 80 64.5 80 144s64.5 144 144 144zm0-240c52.9 0 96 43.1 96 96s-43.1 96-96 96-96-43.1-96-96 43.1-96 96-96z"></path>
        </svg></a>
      <div><h5>MINHA CONTA</h5></div>

      <div class="carrinho">
        <svg class="svg-carrinho" width="20" height="20" viewBox="0 0 30 30"
          fill="none" xmlns="http://www.w3.org/2000/svg"><path
            d="M3.21299 3.0002L6.01498 21.2041C6.06539 21.5669 6.24655 21.8988 6.52441 22.1375C6.80228 22.3761 7.15773 22.5051 7.52397 22.5001H23.9999C24.3226 22.5002 24.6367 22.3961 24.8956 22.2034C25.1545 22.0108 25.3443 21.7398 25.4369 21.4306L29.9369 6.43069C30.004 6.20673 30.0178 5.97018 29.9772 5.73992C29.9367 5.50967 29.8428 5.29209 29.7032 5.10454C29.5636 4.91699 29.3821 4.76468 29.1732 4.65975C28.9643 4.55482 28.7337 4.50018 28.4999 4.5002H6.47998L5.98498 1.29321C5.93498 0.926071 5.74994 0.590747 5.46598 0.352714C5.18949 0.119321 4.83776 -0.00591677 4.47598 0.000214947H1.49999C1.30301 0.000214942 1.10796 0.0390133 0.925972 0.114395C0.743984 0.189777 0.578626 0.300266 0.439338 0.439553C0.300051 0.578841 0.189562 0.744199 0.11418 0.926186C0.0387984 1.10817 0 1.30323 0 1.50021C0 1.69719 0.0387984 1.89225 0.11418 2.07423C0.189562 2.25622 0.300051 2.42158 0.439338 2.56087C0.578626 2.70015 0.743984 2.81064 0.925972 2.88602C1.10796 2.96141 1.30301 3.0002 1.49999 3.0002H3.21299ZM8.78697 19.5001L6.94198 7.50019H26.4839L22.8839 19.5001H8.78697ZM12 27.0001C12 27.7958 11.6839 28.5588 11.1213 29.1214C10.5587 29.684 9.79562 30.0001 8.99997 30.0001C8.20432 30.0001 7.44126 29.684 6.87866 29.1214C6.31605 28.5588 5.99998 27.7958 5.99998 27.0001C5.99998 26.2045 6.31605 25.4414 6.87866 24.8788C7.44126 24.3162 8.20432 24.0001 8.99997 24.0001C9.79562 24.0001 10.5587 24.3162 11.1213 24.8788C11.6839 25.4414 12 26.2045 12 27.0001ZM25.4999 27.0001C25.4999 27.7958 25.1838 28.5588 24.6212 29.1214C24.0586 29.684 23.2956 30.0001 22.4999 30.0001C21.7043 30.0001 20.9412 29.684 20.3786 29.1214C19.816 28.5588 19.4999 27.7958 19.4999 27.0001C19.4999 26.2045 19.816 25.4414 20.3786 24.8788C20.9412 24.3162 21.7043 24.0001 22.4999 24.0001C23.2956 24.0001 24.0586 24.3162 24.6212 24.8788C25.1838 25.4414 25.4999 26.2045 25.4999 27.0001Z"
            fill="black"></path></svg>
        <span class="cart-quantidade">0</span>
        <div><h5>CARRINHO</h5></div>

      </div>

    </div>

    <div class="navegation">
      <div class="nav-elements">
        {{#each categorias}}
        <a class="nav-link" href="/{{this}}">{{this}}</a>
        {{/each}}
      </div>
    </div>
  </nav>